<div id="app">
  <h1 :title="hover">Welcome!</h1>
  <h2 v-if="boolean">The first boolean is true!</h2>
  <h2 v-else-if="!otherBoolean">The second boolean is false!</h2>
  <h2 v-else>The second boolean is true!</h2>

  <div>
    <h3>Count to 10:</h3>
    <div v-for="n in 10">{{ n }}</div>
  </div>

  <datalist id="names">
    <option v-for="task in tasks">{{task.name}}</option>
  </datalist>
  Search by name: <input v-model="nameFilter" list="names">
  Search by description: <input v-model="descriptionFilter">
  <div>
    <button @click="setOrderAttribute('name')">Order by name</button>
    <button @click="setOrderAttribute('description')">Order by description</button>
  </div>
  <todo-item v-for="task in tasks" :todo="task"></todo-item>
  <ul>
    <transition-group name="slide-left">
      <li v-for="task in filteredTasks" @click="markComplete(task)" :class="{strike: task.complete}" :key="task.id">
        {{ index}}. {{ task.name }}: {{ task.description }}
      </li>
    </transition-group>
  </ul>
  <ul>
    <li v-for="error in errors">{{ error }}</li>
  </ul>
  <label>Task Assignee: </label><input v-model="newTaskName">
  <label>Task Description: </label><input v-model="newTaskDescription">
  <button @click="addTask()">Add Task</button>
</div>