<div id="app">
  <h1 v-bind:title="hover">Welcome!</h1>
  <datalist id="names">
    <option v-for="task in tasks">{{task.name}}</option>
  </datalist>
  Search by name: <input v-model="nameFilter" list="names">
  Search by description: <input v-model="descriptionFilter">
  <div>
    <button v-on:click="setOrderAttribute('name')">Order by name</button>
    <button v-on:click="setOrderAttribute('description')">Order by description</button>
  </div>
  <todo-item v-for="task in tasks" v-bind:todo="task"></todo-item>
  <ul>
    <transition-group name="slide-left">
      <li v-for="task in filteredTasks" v-on:click="markComplete(task)" v-bind:class="{strike: task.complete}" v-bind:key="task.id">
        {{ task.name }}: {{ task.description }}
      </li>
    </transition-group>
  </ul>
  <ul>
    <li v-for="error in errors">{{ error }}</li>
  </ul>
  <label>Task Assignee: </label><input v-model="newTaskName">
  <label>Task Description: </label><input v-model="newTaskDescription">
  <button v-on:click="addTask()">Add Task</button>
</div>