<h1>Pages#index</h1>
<div id="app">
  Search by name: <input v-model="nameFilter">
  Search by description: <input v-model="descriptionFilter">
  <div>
    <button v-on:click="setOrderAttribute('name')">Order by name</button>
    <button v-on:click="setOrderAttribute('description')">Order by description</button>
  </div>
  <ul>
    <li v-for="task in filteredTasks" v-on:click="markComplete(task)" v-bind:class="{strike: task.complete}">
      {{ task.name }}: {{ task.description }}
    </li>
  </ul>

  <ul>
    <li v-for="error in errors">{{ error }}</li>
  </ul>
  <label>Task Assignee: </label><input v-model="newTaskName">
  <label>Task Description: </label><input v-model="newTaskDescription">
  <button v-on:click="addTask()">Add Task</button>
</div>